<!-- K and L Places -->
<% if not @page[:places].empty? %>
<div id="klplaces" class="kl-generic">
  <h2 class="places-header">Places</h2>
  <ul class="kl-generic-main">
      <%@page[:places].each do | place |%>
        <% if not place.relations[:learn].nil? %>
      <li class="medium-image">
      <h3 class="places-header">
        <a class="story" href="http://en.wikipedia.org/wiki/<%=place.id%>" target="_blank">
          <%=place.name%>
          <% if not place.relations[:learn].objects.empty? %>
        	<img src="<%=place.relations[:learn].objects.first.image%>">              <% end %>
        </a>
      </h3>

     <% if not place.relations[:learn].objects.empty? %>
     <hr>
      <!-- Articles related to a place -->
      <div class="panel ">
        <ol>
          <% place.relations[:learn].objects.each do | about | %>
          <% break if not about.populated %>
          <li>
            <a href="<%=about.uri%>" class="story ellipsis">
            	<%=about.title%>
            	<br>
            	<span class="kl-article-description"><%=about.description%></span>
            </a>
          </li>
          <% end %>
       </ol>
      </div>
      <% end %>
      <% end %>
      <!-- Articles related to a place -->
      </li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>
