<div id="most-popular" class="range-most-popular">
  <h2 class="livestats-header">K&L Related</h2>

  <%if not @page[:places].empty? %>
    <h3> Places </h3>
    <div>
      <%@page[:places].each do | place |%>
        <% if not place.relations[:learn].nil? and 
              not place.relations[:learn].objects.empty?%>

        <h4>This article seems to be about: <p><%=place.name%></p></h4>
        <p><em>Here's some lovely K&L content</em></p>
        <ul>
          <% place.relations[:learn].objects.each do | about | %>
            <li><a href="<%=about.uri%>">
              <%=about.title%>: <%=about.description.slice(0,20) + "..."%>
            </a>  
            <img src="<%=about.image%>" width="100" height="100"/>
            </li>
          <% end %>
        </ul>
        <%end%>
      <%end%>
    </div>
  <%end%>

</div>
