<% if not @event.people.empty? %>
<section class="people">
  <header class="section">
    <h2>People</h2>
  </header>
  <div class="content">
  <ul>
  <% @event.people.each do | person | %>
  <li>
      <article>
          <header class="article">
          <h3><%= person.name %></h3>
          </header>
          <div class="figure">
            <figure>
                <img src="<%= person.thumbnail %>" width="95" height="95" alt="Bashar al-Assad" />
                <figcaption>Bashar al-Assad</a></figcaption>
            </figure>
            <a href="http://www.bbc.co.uk/news/10338256" title="Profile of Bashar al-Assad" class="profile">Profile</a>
          </div>
          <ul class="info">
            <li><b>Name:</b> <span class="name"><%=person.name%></span></li>
            <li><b>Role:</b> President of Syria</li>
            <li><b>Description:</b> <%= person.abstract %></li>
          </ul>       
          <% if not person.articles.empty? %>
            <!-- List of articles in the context of a person -->
            <%= erb :'modules/_articles', :scope => person %>          
          <% end %>
      </article>      
  </li>
  <% end %>
</ul>
</div>
</section>
<% end %>

