    <div class="container" id="news-lab-events">
      <nav class="breadcrumb">
          <ol>
              <li><a href="/">Events</a></li>
          </ol>
      </nav>
      
      <article class="intro">
          <header class="section">
          <h1><%= @event.name %></h1>
          </header>
          <figure id="main">
            <img src="/images/event/event-placeholder.jpeg" alt="Event placeholder"/>
            <figcaption>Bombing in a Syrian city</a></figcaption>
          </figure>
          <p id="event-description"><%= @event.description %></p>

          <a href="#">
              <span class="cta">
                  <span class="icon live"><b>LIVE</b></span> Breaking news <time>1 hour ago</time>
              </span>
          </a>
      </article>      
      
      <%= erb :'modules/_articles', :scope => @event %>
      <div class="secondary-modules">  
      <%= erb :'modules/_people' %>
      <%= erb :'modules/_places' %>
      </div>

      <section class="timeline">
          <header class="section">
            <h2>Timeline</h2>
          </header>
          <div class="content">
              <h3>March 2011: Syrian Protests</h3>
              <figure class="tiny-timeline">
                  <img src="/images/event/timeline-mockup.jpg" alt="" />
              </figure>
              <a href="#" class="cta">View detailed timeline</a>
          </div>          
      </section>     

    </div>


