<!doctype html> 
<html>
  <head>
    <meta charset="utf-8">
    <title>BBC News Labs - Events</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
    <% if @page_type == 'articles' %>
    <!-- News Article page assets -->
    <meta name="viewport" content="width = 996">
    <link rel="stylesheet" type="text/css" href="/stylesheets/articles/main.css">    
   	<link rel="stylesheet" type="text/css" href="/stylesheets/articles/type.css" />
   	<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/articles/global.css" />
   	<link rel="stylesheet" type="text/css" media="screen and (max-device-width: 976px)" href="/stylesheets/articles/mobile.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/articles/components.css" />	
	<link href="/stylesheets/articles/widgets.css" rel="stylesheet" type="text/css" class="gloaded async">	
	<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/articles/story.css">
	<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/articles/story(1).css">	
	<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/articles/skin.css">
	<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/articles/klmodules.css">
	<style type="text/css">img.emp-overlay-panel-holding-image {display:none;} .bbc-st-flash-hidden img.emp-overlay-panel-holding-image {display:block;}</style>
    <!-- News Article page assets -->
	<% else %>
	<!-- Events page assets -->	
	<link rel="stylesheet" type="text/css" href="/stylesheets/articles/main.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/articles/type.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/articles/global.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/articles/skin.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/events.css">        
    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
	<!-- Events page assets -->
	<% end %>	
	<%= erb :'modules/orb/_head' %>
	<script type="text/javascript" data-main="/javascripts/main" src="/javascripts/require-jquery.js"></script>
  </head>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35777207-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>  
  <body class="<%= @page[:domain][:body_class] %>">
    <%= erb :'modules/orb/_mast_head' %>    
  	<%= yield %>
  	<%= erb :'modules/orb/_footer' %>
 </body>
</html> 
