<%= erb :'modules/_news_mast_head' %>		
			<!-- news-lab-events container -->			
			<div class="container" id="news-lab-events">
				<article class="intro">
					<header class="section"><h1><%= @page[:event].name %></h1></header>
					<figure id="main" style="margin:0; padding: 0;">
						<% @image = "/images/event/event-placeholder.jpeg" %>
						<% @page[:articles].each do | article | %> 
							<% if not article.image.nil? %>
								<% @image = article.image %>
								<% break %>
							<% end %>
						<% end %>
						<img src="<%= @image %>" alt="Event placeholder"/>
						<figcaption>Bombing in a Syrian city</a></figcaption>
					</figure>
					<p id="event-description"><%= @page[:event].description %></p>
					
					<a href="#">
						<span class="cta">
							<span class="icon live"><b>LIVE</b></span> Breaking news <time>1 hour ago</time>
						</span>
					</a>
				</article>				
				<%= erb :'modules/_articles' %>				
				<div class="secondary-modules">
					<%= erb :'modules/_people' %>
					<%= erb :'modules/_places' %>
				</div>				
				<%= erb :'modules/_timeline' %>				
			</div>
			<!-- news-lab-events container -->
		</div>
	</div>
</div></div></div>