
  <div class="container" id="news-labs-tabs">
    <div id="tab-wrapper" class="outer solid">
      <div id="index-tabs" class="tabs">
        <ul>
          <li class="tab-1">
          <a href="#">Top Stories</a>
          </li>
          <li class="tab-2">
          <a href="#">Most Read</a>
          </li>
          <li class="tab-3 open">
          <a href="/<%= "#{@page[:domain][:id]}" %>/events">Events</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

<div class="container" id="news-lab-events">
  <nav class="breadcrumb">
  <ol>
    <li><a href="/">Events</a></li>
  </ol>
  </nav>

  <article class="intro">
  <header class="section">
  <h1><%= @page[:event].name %></h1>
  </header>
  <figure id="main">
  <img src="/images/event/event-placeholder.jpeg" alt="Event placeholder"/>
  <figcaption>Bombing in a Syrian city</a></figcaption>
</figure>
<p id="event-description"><%= @page[:event].description %></p>

<a href="#">
  <span class="cta">
    <span class="icon live">
      <b>LIVE</b>
    </span>
    Breaking news <time>1 hour ago</time>
  </span>
</a>
</article>      

<%= erb :'modules/_articles' %>

<div class="secondary-modules">  
  <%= erb :'modules/_people' %>
  <%= erb :'modules/_places' %>
</div>

<%= erb :'modules/_timeline' %>

</div>

