<%= erb :'modules/_news_mast_head' %>
<!--
<div id="blq-container-outer" class="blq-journalism-domestic blq-ltr">
  <div id="blq-container" class="blq-lang-en-GB">
    <div id="blq-container-inner" xml:lang="en-GB">
      <div id="blq-main" class="blq-clearfix">
        <div class="europe  has-no-ticker ">
          <div id="header-wrapper">
            <h2 id="header">
              <a rel="index" href="http://www.bbc.co.uk/news/"><img alt="BBC News" src="/images/articles/news-blocks.gif"></a>
              <span class="section-title">Europe</span>
            </h2>
            <div id="blq-local-nav">
              <ul id="nav" class="nav">
                <li class="first-child "><a href="http://www.bbc.co.uk/news/">Home</a></li>
                <li class="selected"><a href="http://www.bbc.co.uk/news/world/">World</a></li>
                <li><a href="http://www.bbc.co.uk/news/uk/">UK</a></li>
                <li><a href="http://www.bbc.co.uk/news/england/">England</a></li>
                <li><a href="http://www.bbc.co.uk/news/northern_ireland/">N. Ireland</a></li>
                <li><a href="http://www.bbc.co.uk/news/scotland/">Scotland</a></li>
                <li><a href="http://www.bbc.co.uk/news/wales/">Wales</a></li>
                <li><a href="http://www.bbc.co.uk/news/business/">Business</a></li>
                <li><a href="http://www.bbc.co.uk/news/politics/">Politics</a></li>
                <li><a href="http://www.bbc.co.uk/news/health/">Health</a></li>
                <li><a href="http://www.bbc.co.uk/news/education/">Education</a></li>
                <li><a href="http://www.bbc.co.uk/news/science_and_environment/">Sci/Environment</a></li>
                <li><a href="http://www.bbc.co.uk/news/technology/">Technology</a></li>
                <li><a href="http://www.bbc.co.uk/news/entertainment_and_arts/">Entertainment &amp; Arts</a></li>
              </ul>
              <ul id="sub-nav" class="nav"> 
                <li class="first-child "><a href="http://www.bbc.co.uk/news/world/africa/">Africa</a></li>
                <li><a href="http://www.bbc.co.uk/news/world/asia/">Asia</a></li>
                <li class="selected"><a href="http://www.bbc.co.uk/news/world/europe/">Europe</a></li>
                <li><a href="http://www.bbc.co.uk/news/world/latin_america/">Latin America</a></li>
                <li><a href="http://www.bbc.co.uk/news/world/middle_east/">Middle East</a></li>
                <li><a href="http://www.bbc.co.uk/news/world/us_and_canada/">US &amp; Canada</a></li>
              </ul>
            </div>
-->
            <div id="content-wrapper" class="domestic">
              <div id="main-content" class="story blq-clearfix">
                <div class="layout-block-a">
                  <div class="story-body">
                    <!-- Breadcrumbs -->
                    <%= erb :'modules/_breadcrumbs' %>                    
                    <!-- Breadcrumbs -->
                    <span class="story-date">
                      <span class="date">11 October 2012</span> <span class="time-text">Last updated at </span><span class="time">14:40</span></span>
                    <div id="page-bookmark-links-head" class="share-help">
                      <h3>Share this page</h3>
                      <ul>
                        <li class="delicious">
                        <a title="Post this story to Delicious" href="http://del.icio.us/post?url=http://www.bbc.co.uk/news/world-europe-19906578&amp;title=BBC+News+-+Syrian+plane+had+illegal+cargo%2C+says+Turkey%27s+Davutoglu">Delicious</a>
                        </li>
                        <li class="digg">
                        <a title="Post this story to Digg" href="http://digg.com/submit?url=http://www.bbc.co.uk/news/world-europe-19906578&amp;title=BBC+News+-+Syrian+plane+had+illegal+cargo%2C+says+Turkey%27s+Davutoglu">Digg</a>
                        </li>
                        <li class="facebook">
                        <a title="Post this story to Facebook" href="http://www.facebook.com/sharer.php?u=http://www.bbc.co.uk/news/world-europe-19906578&amp;t=BBC+News+-+Syrian+plane+had+illegal+cargo%2C+says+Turkey%27s+Davutoglu">Facebook</a>
                        </li>
                        <li class="reddit">
                        <a title="Post this story to reddit" href="http://reddit.com/submit?url=http://www.bbc.co.uk/news/world-europe-19906578&amp;title=BBC+News+-+Syrian+plane+had+illegal+cargo%2C+says+Turkey%27s+Davutoglu">reddit</a>
                        </li>
                        <li class="stumbleupon">
                        <a title="Post this story to StumbleUpon" href="http://www.stumbleupon.com/submit?url=http://www.bbc.co.uk/news/world-europe-19906578&amp;title=BBC+News+-+Syrian+plane+had+illegal+cargo%2C+says+Turkey%27s+Davutoglu">StumbleUpon</a>
                        </li>
                        <li class="twitter">
                        <a title="Post this story to Twitter" href="http://twitter.com/home?status=BBC+News+-+Syrian+plane+had+illegal+cargo%2C+says+Turkey%27s+Davutoglu+http://www.bbc.co.uk/news/world-europe-19906578">Twitter</a>
                        </li>
                        <li class="email">
                        <a title="Email this story" href="http://newsvote.bbc.co.uk/mpapps/pagetools/email/www.bbc.co.uk/news/world-europe-19906578">Email</a>
                        </li>
                        <li class="print">
                        <a title="Print this story" href="?print=true">Print</a>
                        </li>
                      </ul><!--  Social media icons by Paul Annet | http://nicepaul.com/icons  -->
                    </div>
                    <h1 class="story-header"><%=@page[:article].title%></h1>
                    <div class="videoInStoryB">
                      <div id="emp-19905573-49629" class="emp page-bookmark-link-aware" style="position: relative; cursor: pointer;">
                        <% if not @page[:article].image == "http://news-labs-events-prototype.herokuapp.com/images/event/event-placeholder.jpeg" %>
                          <img src="<%=@page[:article].image%>" width="448" height="252"><a title="Click to play" style="background-color: rgb(0, 0, 0); opacity: 0.75; width: 80px; height: 80px; display: block; position: absolute; left: 0px; top: 50%; margin-top: -40px; "></a><a title="Click to play" style="background-color: rgb(255, 0, 0); opacity: 0; width: 80px; height: 80px; display: block; position: absolute; left: 0px; top: 50%; margin-top: -40px; "></a>
                        <% end %>
                        <div style="background-image: url(http://emp.bbci.co.uk/emp/releases/worldwide/revisions/749603_749269_749444_6/cta_play.png); width: 27px; height: 36px; display: block; position: absolute; top: 50%; left: 26px; margin-top: -18px; "></div>
                      </div>
                      <p class="caption"><%=@page[:article].description%></p>
                      <!-- END - caption -->										
                    </div>
                    <!-- end of the embedded player component -->										
                    <!-- Player embedded -->
                    <%=@page[:article].body%>
                  </div>
                  <!-- / story-body -->
                  <div>
                    <!--Related hypers and stories -->
                    <div class="story-related">
                      <h2>More on This Story</h2>
                      <div class="hyperpuff">
                        <div class="hyper-container-title">
                          <h3 class="hyper-depth-header"><a href="http://www.bbc.co.uk/news/world-middle-east-17258397" class="special-report">Syria conflict</a></h3>
                          <!-- Non specific version -->
                          <!-- Features and Analysis -->
                          <div id="group-title-1" class="hyper-related-assets">
                            <h4 class="hyper-depth-stories-header">Features and analysis</h4>
                            <ul>
                              <li class=" medium-image first-child">
                              <h5 class=" hyper-story-header"><a class="story" rel="published-1349733355231" href="http://www.bbc.co.uk/news/world-middle-east-19875393"><img src="/images/articles/_63371769_aleppo_ap.jpg" alt="Syrian men walk at a street between destroyed buildings in Aleppo">No-man's land</a></h5>
                              <p>Whichever side they support, Syrian civilians bear the brunt of a conflict that no-one seems capable of stopping, says the BBC's Ian Pannell.</p>
                              <hr>
                              </li>
                              <li class="column-1 ">
                              <h5 class=" hyper-story-header"><a class="story" rel="published-1349380281808" href="http://www.bbc.co.uk/news/world-europe-19837502">Turkey-Syria tensions</a></h5>
                              </li>
                              <li class="column-1 ">
                              <h5 class=" hyper-story-header"><a class="story" rel="published-1348483533158" href="http://www.bbc.co.uk/news/world-middle-east-19699446">Assad heartland</a></h5>
                              </li>
                              <li class="column-1 ">
                              <h5 class=" hyper-story-header"><a class="story" rel="published-1347854407479" href="http://www.bbc.co.uk/news/world-middle-east-19618777">Bombed from above</a></h5>
                              </li>
                              <li class="column-1 ">
                              <h5 class=" hyper-story-header"><a class="story" rel="published-1346330623016" href="http://www.bbc.co.uk/news/world-middle-east-19331551">Guide to conflict</a></h5>
                              </li>
                              <li class="column-1 ">
                              <h5 class=" hyper-story-header"><a class="story" rel="published-1348102429899" href="http://www.bbc.co.uk/news/world-middle-east-19657762">School in a time of war</a></h5>
                              </li>
                              <li class="column-1 ">
                              <h5 class=" hyper-story-header"><a class="story" rel="published-1347373563015" href="http://www.bbc.co.uk/news/world-middle-east-19554875">Family's lasting scars</a></h5>
                              </li>
                              <li class="column-1 ">
                              <h5 class=" hyper-story-header"><a class="story" rel="published-1348796863471" href="http://www.bbc.co.uk/news/world-middle-east-19753795">Turkey seeks action</a></h5>
                              </li>
                              <li class="column-1 ">
                              <h5 class=" hyper-story-header"><a class="story" rel="published-1346927949565" href="http://www.bbc.co.uk/news/world-middle-east-19500164">Voices from Jordanian camp</a></h5>
                              </li>
                              <li class="column-2 ">
                              <h5 class=" hyper-story-header"><a class="story" rel="published-1346921525258" href="http://www.bbc.co.uk/news/world-middle-east-19493780">Desperate plight of civilians</a></h5>
                              </li>
                              <li class="column-2 ">
                              <h5 class=" hyper-story-header"><a class="story" rel="published-1346717137174" href="http://www.bbc.co.uk/news/magazine-19468300">War in watercolour</a></h5>
                              </li>
                              <li class="column-2 ">
                              <h5 class=" hyper-story-header"><a class="story" rel="published-1346681534562" href="http://www.bbc.co.uk/news/world-middle-east-19467160">Lakhdar Brahimi: 'No illusions'</a></h5>
                              </li>
                              <li class="column-2 ">
                              <h5 class=" hyper-story-header"><a class="story" rel="published-1346485046244" href="http://www.bbc.co.uk/news/world-middle-east-19425458">Alawites stand firm</a></h5>
                              </li>
                              <li class="column-2 ">
                              <h5 class=" hyper-story-header"><a class="story" rel="published-1346284944528" href="http://www.bbc.co.uk/news/world-middle-east-19414144">Syria's tug-of-war</a></h5>
                              </li>
                              <li class="column-2 ">
                              <h5 class=" hyper-story-header"><a class="story" rel="published-1345941170935" href="http://www.bbc.co.uk/news/world-middle-east-19368439">'Better than before'</a></h5>
                              </li>
                              <li class="column-2 ">
                              <h5 class=" hyper-story-header"><a class="story" rel="published-1346097202143" href="http://www.bbc.co.uk/news/world-middle-east-19391466">Darayya deaths shock Syrians</a></h5>
                              </li>
                              <li class="column-2 ">
                              <h5 class=" hyper-story-header"><a class="story" rel="published-1346068799085" href="http://www.bbc.co.uk/news/world-middle-east-19347555">'Forced confession'</a></h5>
                              </li>
                            </ul>
                          </div>
                          <!-- Features and Analysis -->									
                          <script type="text/javascript">
                            //$render("hyper-related-assets","group-title-1");
                          </script>
                          <!-- Profiles -->
                          <!-- Non specific version -->
                          <div id="group-title-2" class="hyper-related-assets">
                            <h4 class="hyper-depth-stories-header">Profiles</h4>
                            <ul>
                              <li class="column-1 ">
                              <h5 class=" hyper-story-header"><a class="story" rel="published-1303939937579" href="http://www.bbc.co.uk/news/world-middle-east-13216195">President's inner circle</a></h5>
                              </li>
                              <li class="column-1 ">
                              <h5 class=" hyper-story-header"><a class="story" rel="published-1276764751862" href="http://www.bbc.co.uk/news/10338256">Bashar al-Assad</a></h5>
                              </li>
                              <li class="column-1 ">
                              <h5 class=" hyper-story-header"><a class="story" rel="published-1337251683450" href="http://www.bbc.co.uk/news/world-middle-east-18084964">Who are the Alawites?</a></h5>
                              </li>
                              <li class="column-1 ">
                              <h5 class=" hyper-story-header"><a class="story" rel="published-1321736405168" href="http://www.bbc.co.uk/news/world-middle-east-15798218">Guide to the Syrian opposition</a></h5>
                              </li>
                              <li class="column-2 ">
                              <h5 class=" hyper-story-header"><a class="story" rel="published-1341844253078" href="http://www.bbc.co.uk/news/world-middle-east-18582755">Profile: Syria's Baath Party</a></h5>
                              </li>
                              <li class="column-2 ">
                              <h5 class=" hyper-story-header"><a class="story" rel="published-1343055072502" href="http://www.bbc.co.uk/news/world-middle-east-18957096">Profile: Aleppo</a></h5>
                              </li>
                              <li class="column-2 ">
                              <h5 class=" hyper-story-header"><a class="story" rel="published-1335541695914" href="http://www.bbc.co.uk/news/world-middle-east-17868325">Profile: Hama</a></h5>
                              </li>
                              <li class="column-2 ">
                              <h5 class=" hyper-story-header"><a class="story" rel="published-1304146216353" href="http://www.bbc.co.uk/news/world-middle-east-13247375">Ruling family dynamics</a></h5>
                              </li>
                            </ul>
                          </div>
                          <!-- Profiles -->
                          <!-- Non specific version -->
                          <script type="text/javascript">
                            //$render("hyper-related-assets","group-title-2");
                          </script>
                          <!-- Around the web -->
                          <!-- Non specific version -->
                          <div id="group-title-3" class="hyper-related-assets">
                            <h4 class="hyper-depth-stories-header">Around the web</h4>
                            <ul>
                              <li class="column-1 ">
                              <h5 class=" hyper-story-header"><a class="story" href="http://www.bbc.co.uk/arabic/">BBC Arabic website</a></h5>
                              </li>
                              <li class="column-1 ">
                              <h5 class=" hyper-story-header"><a class="story" href="https://www.facebook.com/Syrian.Revolution">Revolution 2011 on Facebook</a></h5>
                              </li>
                              <li class="column-2 ">
                              <h5 class=" hyper-story-header"><a class="story" href="http://www.sana.sy/index_eng.html">Syrian state news agency Sana</a></h5>
                              </li>
                              <li class="column-2 ">
                              <h5 class=" hyper-story-header"><a class="story" href="http://www.syriahr.com/">Human Rights Observatory (Arabic)</a></h5>
                              </li>
                            </ul>
                          </div>
                          <script type="text/javascript">
                            //$render("hyper-related-assets","group-title-3");
                          </script>
                        </div>
                      </div>									
                      <!-- Newstracker -->
                      <div class="puffbox">
                        <!-- newstracker puffbox news 19906578 -->
                        <div class="newstracker-list">
                          <h3>From other news sites</h3>
                          <ul>
                            <li>
                            <h4><strong>International Business Times UK </strong><a href="http://c.moreover.com/click/here.pl?z7372773464&z=1600249365"> Russia Denies Weapons Onboard Moscow To Syria Passenger Flight </a><span>52 mins ago</span></h4>
                            </li>
                            <li class="even">
                            <h4><strong>Sky News </strong><a href="http://c.moreover.com/click/here.pl?z7372022798&z=1600249594"> Putin Postpones Turkey Trip Amid Syria Tensions </a><span>2 hrs ago</span></h4>
                            </li>
                            <li>
                            <h4><strong>Huffington Post UK </strong><a href="http://c.moreover.com/click/here.pl?z7371887852&z=1600249594"> Syrian Plane Carrying 'Illegal Cargo' Through Turkish Airspace </a><span>2 hrs ago</span></h4>
                            </li>
                            <li class="even">
                            <h4><strong>Sympatico </strong><a href="http://c.moreover.com/click/here.pl?z7371667903&z=1650248863"> Russia says Turkey endangered lives by grounding plane </a><span>3 hrs ago</span></h4>
                            </li>
                            <li>
                            <h4><strong>Channel 4 </strong><a href="http://c.moreover.com/click/here.pl?z7371178462&z=1600249594"> Syria accuses Turkey of 'air piracy' over forced landing </a><span>5 hrs ago</span></h4>
                            </li>
                            <li class="about">
                            <a href="http://www.bbc.co.uk/news/10621663">About these results</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- Newstracker - End -->
                      <script type="text/javascript">//$render("page-newstracker","ID");</script>
                    </div>
                    <script type="text/javascript">//$render("page-related-items","ID");</script>
                  </div>
                  <!-- Share body bottom -->
                  <div class="share-body-bottom">
                    <div id="page-bookmark-links-foot" class="share-help">
                      <h3>Share this page</h3>
                      <ul>
                        <li class="delicious">
                        <a title="Post this story to Delicious" href="http://del.icio.us/post?url=http://www.bbc.co.uk/news/world-europe-19906578&amp;title=BBC+News+-+Syrian+plane+had+illegal+cargo%2C+says+Turkey%27s+Davutoglu">Delicious</a>
                        </li>
                        <li class="digg">
                        <a title="Post this story to Digg" href="http://digg.com/submit?url=http://www.bbc.co.uk/news/world-europe-19906578&amp;title=BBC+News+-+Syrian+plane+had+illegal+cargo%2C+says+Turkey%27s+Davutoglu">Digg</a>
                        </li>
                        <li class="facebook">
                        <a title="Post this story to Facebook" href="http://www.facebook.com/sharer.php?u=http://www.bbc.co.uk/news/world-europe-19906578&amp;t=BBC+News+-+Syrian+plane+had+illegal+cargo%2C+says+Turkey%27s+Davutoglu">Facebook</a>
                        </li>
                        <li class="reddit">
                        <a title="Post this story to reddit" href="http://reddit.com/submit?url=http://www.bbc.co.uk/news/world-europe-19906578&amp;title=BBC+News+-+Syrian+plane+had+illegal+cargo%2C+says+Turkey%27s+Davutoglu">reddit</a>
                        </li>
                        <li class="stumbleupon">
                        <a title="Post this story to StumbleUpon" href="http://www.stumbleupon.com/submit?url=http://www.bbc.co.uk/news/world-europe-19906578&amp;title=BBC+News+-+Syrian+plane+had+illegal+cargo%2C+says+Turkey%27s+Davutoglu">StumbleUpon</a>
                        </li>
                        <li class="twitter">
                        <a title="Post this story to Twitter" href="http://twitter.com/home?status=BBC+News+-+Syrian+plane+had+illegal+cargo%2C+says+Turkey%27s+Davutoglu+http://www.bbc.co.uk/news/world-europe-19906578">Twitter</a>
                        </li>
                        <li class="email">
                        <a title="Email this story" href="http://newsvote.bbc.co.uk/mpapps/pagetools/email/www.bbc.co.uk/news/world-europe-19906578">Email</a>
                        </li>
                        <li class="print">
                        <a title="Print this story" href="?print=true">Print</a>
                        </li>
                      </ul><!--  Social media icons by Paul Annet | http://nicepaul.com/icons  -->
                    </div>
                    <script type="text/javascript"> 
                      <!--
                      /*
                      $render("page-bookmark-links","page-bookmark-links-foot",{
                        useForgeShareTools:"true",
                        position:"bottom",
                        site:'News', 
                        headline:'BBC News - Syrian plane had illegal cargo, says Turkey\'s Davutoglu', 
                        storyId:'19906578', 
                        sectionId:'99123', 
                        url:'http://www.bbc.co.uk/news/world-europe-19906578', 
                        edition:'Domestic'
                      });
                      */ 
                      -->
                    </script>
                  </div>
                  <!-- other stories from this section include -->
                  <div class="top-index-stories">
                    <h2 class="top-index-stories-header"><a href="/news/world/europe/">More Europe stories</a></h2>
                    <a href="http://feeds.bbci.co.uk/news/world/europe/rss.xml" class="rss">RSS</a>	
                    <!-- Non specific version -->
                    <ul>
                      <li class="first-child medium-image">
                      <h3>
                        <a class="story" rel="published-1350530202149" href="/news/world-europe-19986603"><img src="/images/articles/_63555994_016218028.jpg" alt="EU flag outside European Parliament in Brussels (file image)">Call for veto on EU state budgets</a>
                      </h3>
                      <p>German Chancellor Angela Merkel calls for the EU to be given the power to veto member-states' budgets as leaders meet in Brussels. </p>
                      </li>
                      <li class="column-1">
                      <h3>
                        <a class="story" rel="published-1350522103832" href="/news/world-europe-19986804">Greece braces for general strike</a>
                      </h3>
                      </li>
                      <li class="column-2">
                      <h3>
                        <a class="story" rel="published-1350547074164" href="/news/technology-19988662">Twitter bans German Nazi account</a>
                      </h3>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- / layout-block-a -->			
                <div class="layout-block-b">
                  <div class="hyperpuff">
                    <div id="range-top-stories" class="top-stories-range-module">
                      <h2 class="top-stories-range-module-header">Top Stories</h2>
                      <ul>
                        <li>
                        <a class="story" rel="published-1349951210822" href="http://www.bbc.co.uk/news/uk-19906595">UK called for Abu Qatada pardon</a>
                        </li>
                        <li>
                        <a class="story" rel="published-1349950825075" href="http://www.bbc.co.uk/news/uk-england-19910377">Acid douse death 'preventable'</a>
                        </li>
                      </ul>
                    </div>
                    <!-- K and L modules -->
		  			<%= erb :'modules/_about_people' %>
		  			<%= erb :'modules/_about_places' %>
                  <!-- K and L Modules -->
                </div>
              </div>			
              <!-- END #MAIN-CONTENT & CPS_ASSET_TYPE CLASS: story -->
            </div>
            <!-- END CPS_AUDIENCE CLASS: domestic -->
          </div>
          <!-- Related services -->
          <div id="related-services" class="footer">
            <div id="news-services">
              <h2>Services</h2>
              <ul>
                <li id="service-mobile" class="first-child"><a href="http://www.bbc.co.uk/news/10628994"><span class="gvl3-mobile-icon-large services-icon">&nbsp;</span>Mobile</a></li>
                <li id="service-feeds"><a href="http://www.bbc.co.uk/news/help-17655000"><span class="gvl3-connected-tv-icon-large services-icon">&nbsp;</span>Connected TV</a></li>
                <li id="service-podcast"><a href="http://www.bbc.co.uk/news/10628494"><span class="gvl3-feeds-icon-large services-icon">&nbsp;</span>News feeds</a></li>
                <li id="service-alerts"><a href="http://www.bbc.co.uk/news/10628323"><span class="gvl3-alerts-icon-large services-icon">&nbsp;</span>Alerts</a></li>
                <li id="service-email-news"><a href="http://www.bbc.co.uk/news/help/16617948"><span class="gvl3-email-icon-large services-icon">&nbsp;</span>E-mail news</a></li>
              </ul>	  
            </div>
            <div id="news-related-sites">
              <h2>About BBC News</h2>
              <ul>
                <li class="column-1"><a href="http://www.bbc.co.uk/blogs/theeditors/">Editors' blog</a></li>
                <li class="column-1"><a href="http://www.bbc.co.uk/journalism/">BBC College of Journalism</a></li>
                <li class="column-1"><a href="http://www.bbc.co.uk/news/10621655">News sources</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- close europe -->      
		
      </div>
      <!-- close blq-main -->
    </div>
  </div>
</div>
<script type="text/javascript">
  if (typeof require !== 'undefined') { require(['istats-1'], function(istats){ istats.track('external', { region: document.getElementById('blq-main') }); istats.track('download', { region: document.getElementById('blq-main') }); }); } 
</script>
<script type="text/html" id="blq-panel-template-promo">
  <![CDATA[ <div id="blq-panel-promo" class="blq-masthead-container"></div> ]]>
</script>
<script type="text/html" id="blq-panel-template-more">
  <![CDATA[ <div id="blq-panel-more" class="blq-masthead-container  blq-clearfix" xml:lang="en-GB" dir="ltr"> <div class="blq-panel-container panel-paneltype-more"> <div class="panel-header"> <h2> <a href="http://www.bbc.co.uk/a-z/">  More&hellip;  </a> </h2>  <a href="http://www.bbc.co.uk/a-z/" class="panel-header-links panel-header-link">Full A-Z<span class="blq-hide"> of BBC sites</span></a>  </div> <div class="panel-component panel-links">       <ul>   <li> <a href="http://www.bbc.co.uk/cbbc/"  >CBBC</a> </li>    <li> <a href="http://www.bbc.co.uk/cbeebies/"  >CBeebies</a> </li>    <li> <a href="http://www.bbc.co.uk/comedy/"  >Comedy</a> </li>   </ul>  <ul>   <li> <a href="http://www.bbc.co.uk/food/"  >Food</a> </li>    <li> <a href="http://www.bbc.co.uk/health/"  >Health</a> </li>    <li> <a href="http://www.bbc.co.uk/history/"  >History</a> </li>   </ul>  <ul>   <li> <a href="http://www.bbc.co.uk/learning/"  >Learning</a> </li>    <li> <a href="http://www.bbc.co.uk/music/"  >Music</a> </li>    <li> <a href="http://www.bbc.co.uk/science/"  >Science</a> </li>   </ul>  <ul>   <li> <a href="http://www.bbc.co.uk/nature/"  >Nature</a> </li>    <li> <a href="http://www.bbc.co.uk/local/"  >Local</a> </li>    <li> <a href="http://www.bbc.co.uk/travelnews/"  >Travel News</a> </li>   </ul>   </div> </div> ]]>
  </script>            

  <!-- shared/foot -->
  <script type="text/javascript">
    //bbc.fmtj.common.removeNoScript({});
    //bbc.fmtj.common.tabs.createTabs({});
  </script>
  <!-- hi/news/foot.inc -->
  <!-- shared/foot_story -->
  <!-- #CREAM hi news domestic foot.inc -->

  <div class="glow177-cssTest" style="height:0;position:absolute;visibility:hidden;top:-20px;display:block"></div>
  <div class="glowNoMask" style="margin: 0px; padding: 0px; position: absolute; width: 100%; top: 0px; left: 0px; overflow: auto; z-index: 9900; background-color: rgb(0, 0, 0); visibility: hidden; opacity: 0; background-position: initial initial; background-repeat: initial initial; "></div>
  <div class="glow177-overlay glowNoMask " style="z-index: 9990; width: 210px; " aria-hidden="true" id="bbc-st-share-panel" role="tooltip" aria-live="polite" tabindex="0">
    <div class="overlay-focalPoint" tabindex="-1"></div>
    <div class="bbc-st-panel bbc-st-sharepanel glow177-infoPanel-pointB">
      <div class="infoPanel-pointerT">&nbsp;</div>
      <div class="panel-main">
        <div class="panel-hd">
          <h5>Share this page</h5>
        </div>
        <div class="panel-bd">
          <ul class="bbc-st-all">
            <li class="bbc-st-first">
            <a href="http://www.bbc.co.uk/news/world-europe-19906578#" title="Share this page on Delicious" class="bbc-st-delicious-cta">Delicious</a> 
            <span></span>
            </li>
            <li>
            <a href="http://www.bbc.co.uk/news/world-europe-19906578#" title="Share this page on Digg" class="bbc-st-digg-cta">Digg</a> 
            <span></span>
            </li>
            <li>
            <a href="http://www.bbc.co.uk/news/world-europe-19906578#" title="Share this page on Facebook" class="bbc-st-facebook-cta">Facebook</a> 
            <span>418</span>
            </li>
            <li>
            <a href="http://www.bbc.co.uk/news/world-europe-19906578#" title="Share this page on Reddit" class="bbc-st-reddit-cta">Reddit</a> 
            <span></span>
            </li>
            <li>
            <a href="http://www.bbc.co.uk/news/world-europe-19906578#" title="Share this page on StumbleUpon" class="bbc-st-stumbleupon-cta">StumbleUpon</a> 
            <span></span>
            </li>
            <li>
            <a href="http://www.bbc.co.uk/news/world-europe-19906578#" title="Share this page on Twitter" class="bbc-st-twitter-cta">Twitter</a> 
            <span>749</span>
            </li>
          </ul>
        </div>
        <div class="panel-ft">
          <p class="bbc-st-explain">
          <a href="http://www.bbc.co.uk/help/web/sharing.shtml">Read more about these links.</a>
          </p>
        </div>
        <a href="http://www.bbc.co.uk/news/world-europe-19906578#" class="panel-close" title="Close">Close</a>
      </div>
      <div class="infoPanel-pointerB">&nbsp;</div>
    </div>
    <div class="panelAccess">
      End of panel. <a href="http://www.bbc.co.uk/news/world-europe-19906578#">Back to top of panel</a>
      <a href="http://www.bbc.co.uk/news/world-europe-19906578#">Close Panel</a>
    </div>
  </div>
